<ion-header>
  <ion-toolbar>
    <ion-title>Resuelve el Scape Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="height: 50px;"></div>
  <ion-img src="/assets/img/final.jpg" class="background-img"></ion-img>
  <div class="resolver-container">
    <ion-input
      [(ngModel)]="palabraIngresada"
      placeholder="Introduce la palabra"
      class="input-palabra"
    ></ion-input>
    <ion-button expand="block" (click)="verificarPalabra()">
      Verificar
    </ion-button>
  </div>
</ion-content>
