ion-content {
  padding-top: 20px;
}

.resolver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.input-palabra {
  margin-bottom: 20px;
  width: 100%;
}

