ion-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 8px; /* Espacio entre tarjetas */
}

ion-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card-title {
  text-align: center;
  font-size: 1.2em; /* Tamaño de fuente más grande para títulos en móviles */
}

ion-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px; /* Altura de tarjeta ajustada para móviles */
}

ion-icon {
  color: var(--ion-color-primary);
  font-size: 2em; /* Tamaño del icono más grande para mayor visibilidad */
}

/* Medidas para pantallas más pequeñas */
@media (max-width: 767px) {
  ion-card {
    margin: 4px; /* Reduce el margen en pantallas pequeñas */
  }

  ion-card-content {
    height: 100px; /* Ajuste de altura para pantallas pequeñas */
  }

  ion-card-title {
    font-size: 1em; /* Tamaño de fuente ajustado para pantallas pequeñas */
  }
}ion-grid {
   padding: 0 16px; /* Espaciado horizontal dentro del grid */
 }

ion-col {
  padding: 0; /* Elimina el espaciado adicional de las columnas */
}
ion-icon {
  font-size: 2em; /* Tamaño del icono ajustado para mayor visibilidad */
}

ion-card-content {
  height: auto; /* Ajusta la altura automáticamente para adaptarse al contenido */
}
ion-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

