<ion-header>
  <ion-toolbar>
    <ion-title>Elige tu grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let grupo of grupos">
        <ion-card (click)="seleccionarGrupo(grupo)">
          <ion-card-header>
            <ion-card-title>Grupo {{ grupo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="people" size="large"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
