<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Busca el elemento comun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Fondo dividido en 4 partes -->
  <div class="fondo-cuadrante">
    <div class="cuadrante cuadrante1"></div>
    <div class="cuadrante cuadrante2"></div>
    <div class="cuadrante cuadrante3"></div>
    <div class="cuadrante cuadrante4"></div>
  </div>

  <!-- Cuadro central para introducir la palabra -->
  <div class="contenedor-palabra">
    <ion-input
      [(ngModel)]="palabraIngresada"
      placeholder="Introduce la palabra"
      class="input-palabra"
    ></ion-input>
    <ion-button expand="block" (click)="verificarPalabra()">
      Verificar
    </ion-button>
  </div>
</ion-content>

