<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¿Que queremos preparar?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <div class="images-background">
    <div class="image" *ngFor="let image of images"></div>
  </div>

  <div class="input-container">
    <ion-input
      [(ngModel)]="palabraIngresada"
      placeholder="Introduce la palabra"
      class="input-palabra"
    ></ion-input>
    <ion-button expand="block" (click)="verificarPalabra()">
      Verificar
    </ion-button>
  </div>
</ion-content>
