<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¿Que representa la imagen?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="imagen-container">
    <ion-img src="/assets/img/yoga.jpg" class="imagen"></ion-img>
    <!-- Cuadro para ingresar la palabra -->
    <div class="input-container">
      <ion-input
        [(ngModel)]="palabraIngresada"
        placeholder="Introduce la palabra"
        class="input-text"
      ></ion-input>
      <ion-button expand="block" (click)="verificarPalabra()">
        Verificar
      </ion-button>
    </div>
  </div>
</ion-content>
